---
layout: default
title: Find Great Wine
---

<div class='search_container'>
	<form action="/" class="content_aligned  search">
	  <fieldset>
	    <input type="text" placeholder="Type to Search..." />
	  </fieldset>
	  <p class='meta'>Looking for a suggestion?</br>Try <a href='{{ site.baseurl }}/results'>sweet reds</a> or see our <a href='{{ site.baseurl }}/help'>top choices...</a></p>
	</form>
</div>


<div class="default_results clearfix">
	{% include wineries.html %}
	{% include wineries2.html %}
</div>
