<section class="region clearfix">
	<header class='content_wrap'>
		<ul class="nav top-nav clearfix">
		  <li class="menu-item current-menu-item"><span>Similkameen Valley Region</span></li>
		</ul>
	</header>
	<div class="wineries_wrap clearfix">
		<article class="grid_item_container">
			<a href="http://blackwidow.newdistrict.ca" target="_blank">

			<div class="grid_item" style="background-image: url('{{ site.baseurl }}/img/wineries/blackwidow.jpeg'); background-size:cover; background-position: center center;">
				<div class="relative_container grid_item_colour_cover">
				</div>
			</div>
			</a>

			<div class="grid_title"><a href="http://blackwidow.newdistrict.ca" target="_blank">Black Widow</a></div>
			<div class="grid_about"><a href="http://blackwidow.newdistrict.ca" target="_blank">Specializing in single vineyard, small lot releases, Black Widow Winery is ideally situated on the scenic Naramata Bench. </a></div>

		</article>

				<article class="grid_item_container">
			<a href="http://blackwoodlane.newdistrict.ca" target="_blank">

			<div class="grid_item" style="background-image: url('{{ site.baseurl }}/img/wineries/Blackwood-banner.jpg'); background-size:cover; background-position: center center;">
				<div class="relative_container grid_item_colour_cover">
				</div>
			</div>
			</a>

			<div class="grid_title"><a href="http://blackwoodlane.newdistrict.ca" target="_blank">Blackwood Lane</a></div>
			<div class="grid_about"><a href="http://blackwoodlane.newdistrict.ca" target="_blank">We create excellent wines that are winning accolades and praise from wine lovers and connoisseurs all over. </a></div>

		</article>
				<article class="grid_item_container">
			<a href="http://hiddenchapel.newdistrict.ca" target="_blank">

			<div class="grid_item" style="background-image: url('{{ site.baseurl }}/img/wineries/hidden_chapel.jpeg'); background-size:cover; background-position: center center;">
				<div class="relative_container grid_item_colour_cover">
				</div>
			</div>
			</a>

			<div class="grid_title"><a href="http://hiddenchapel.newdistrict.ca" target="_blank">Hidden Chapel</a></div>
			<div class="grid_about"><a href="http://hiddenchapel.newdistrict.ca" target="_blank">Ripened by the hot Okanagan sun and aged in our unique underground cellar. We believe our wines are blessed by the Hidden Chapel!</a></div>

		</article>
				<article class="grid_item_container">
			<a href="http://corcelettes.newdistrict.ca/" target="_blank">

			<div class="grid_item" style="background-image: url('{{ site.baseurl }}/img/wineries/Corcelletes.jpeg'); background-size:cover; background-position: center center;">
				<div class="relative_container grid_item_colour_cover">
				</div>
			</div>
			</a>

			<div class="grid_title"><a href="http://corcelettes.newdistrict.ca/" target="_blank">Corcelettes</a></div>
			<div class="grid_about"><a href="http://corcelettes.newdistrict.ca/" target="_blank">Nestled in the beautiful Similkameen Valley, we use a mixture of old school tricks and new school twists to produce great wine.</a></div>

		</article>
	</div>
</section>
