body {
	@extend .copy;
	font-size: 1.1em;
	line-height: 1.7;
	color: #222;
	text-rendering: optimizeLegibility;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	/* EDIT: new syntax for FF 15+ */
	-ms-font-feature-settings: "liga";
	-o-font-feature-settings: "liga";
	-webkit-font-feature-settings: "liga";
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	background: $body_background;
}

.site_wrapper {
	margin: .35em auto;
	padding-top: 1em;
	padding-bottom: 1em;
	background: white;
}

$content_wrap: 87.5%;

.maincontainer {max-width: 1300px;}
.wineries_wrap {width: 87.5%;}
.content_wrap {width:$content_wrap; position: relative; }
.content_wrap, .wineries_wrap {margin-left: auto; margin-right: auto;}
.content_aligned {margin-left: (100% - $content_wrap) / 2; margin-right: 4.25%;}

.relative_container {
	height: 100%;
	position: relative;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

img {width: 100%;
vertical-align: bottom;}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: hsl(0,0%,67%);
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		-webkit-transition: color 0.3s ease-out;
		-moz-transition: color 0.3s ease-out;
		-o-transition: color 0.3s ease-out;
		-ms-transition: color 0.3s ease-out;
		transition: color 0.3s ease-out;
	}

	&:active {

	}

	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/* text shadow by Gary Hepting http://codepen.io/ghepting/pen/tLnHK/ */
p a {text-decoration: none;
text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 3px, lightgray 3px, lightgray  4px, rgba(0, 0, 0, 0) 3px);
color: dimgray;
}


ul, ol {padding:0;}



/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@extend .headline;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		-o-hyphens: none;
		hyphens: none;
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: .85;
	color: white;
	margin: 0;
}

.control_box {
	font-size: .7em;
}

.h1 + .subtitle {margin-top: .7em;}

.subtitle {
	color: white;
	padding-left:.3em;
	@extend .headline;
	font-size:.8em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;

}

h3, .h3 {
	font-size: 1.125em;
	margin: 2em 0;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
NAVIGATION STYLES
*********************/


.text {
	margin-top:7em;
	margin-bottom: 4em;
	font-style: normal;
	color:black;
}

.navigation {
	padding-bottom: .1em;
	margin-bottom: 2em;
	border-bottom: 1px solid dimgray;
	@extend .headline;
	font-size: .65em;
	span {
		display: inline-block;
		white-space: nowrap;
	}
	.share_link {float: right;}

	span + span {
		margin-left: 2em;
	}
	a {text-decoration: none;}
}

.archive_article {
	a {
		text-decoration: none;
	}
	a:hover {
		.archive_image {
		background: hsla(0,0%,0%,.3);
		}
	}
}

.archive_image {
	background: hsla(0,0%,0%,.4);
	-webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	-ms-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}


.archive_text {
	font-size: 1.4em;
	padding:6.5em 0 1em;
}

.archive_title, .archive_subtitle {
	@extend .headline;
	color: white;
	line-height:.9;
}

.archive_subtitle  {
	font-size: .35em;
	margin-top: 0.4em;
}

.archive_article + .archive_article {
	margin-top: 1em;
}

.single_article {
	margin-top: 4em;
}



.nav {
	padding-bottom: .1em;
	margin-bottom: 2em;
	border-bottom: 1px solid dimgray;
	@extend .headline;
	font-size: .65em;

	li {
		margin-right: 2em;
	}
		.menu-item-166 {
			margin-right: 0;
		}

	li {
		white-space: nowrap;
		display: inline-block;
		float:left;
		a {
			display: block;
			text-decoration: none;
			&:hover, &:focus {
				color: black;
			}
		}
	}

		.menu-item-166 {
		float: right;
		}
}

.article_abstract {
	font-style: italic;
	font-size: 1.2em;
	text-align: left;
	margin: 3.5em auto;
}

.published_on {
	position: absolute;
	width: 100%;
	top: .5em;

	.vcard, .next, .time  {
		color:white;
		@extend .headline;
		font-size:.65em;
	}
	.next, .time {
		font-size: .65em;
	}
}

.top_aligned {
	.control_box {
		width:100%;
		top: 2.5em;
	}

	.published_on {
		top: auto;
		bottom: .9em;
	}
}

.bottom_aligned {
	.control_box {
		width:100%;
		bottom: 2.5em;
	}
}

.centered_aligned {
	.control_box {
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  text-align: left;
	  width: 100%;
	}
	.published_on {
		top: auto;
		bottom: 1em;
	}
}

.perfect_centered_layout {
	.control_box {
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  text-align: center;
	  width: 90%;
	}
}

.custom_alignment {
	.control_box {
	}
}

.custom_title {
	.control_box {
		visibility: hidden;
	}
}


.control_box {
  position: absolute;
}

.full, .ninety, .three_quarters, .two_thirds .half {
  position: relative;
}


.centered_layout {
  text-align: center;
  height: 100%;
}


.bottom_box {
  position: absolute;
  text-align: center;
  bottom: 1.9em;
  width: 100%;
}

.grid_item {
	height:11em;
	margin-left: auto;
	margin-right: auto;
}

.wineries_wrap section:nth-of-type(n+2){
	margin-top: 1em;
}

.grid_item_container {
			a, a:hover, a:link, a:visited {
			text-decoration: none;
			color: #222;
		}
}

.grid_item_colour_cover {
	background: hsla(0,0%,0%,.55);
	-webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	-ms-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}

.grid_item_colour_cover:hover {
	background: hsla(0,0%,0%,.2);
}

.grid_title {
	font-size: .9em;
	line-height: .85;
	@extend .headline;
	display: inline-block;
	white-space: nowrap;
	margin-top: 1em;
}
.grid_about {
	font-size: .8em;
	line-height: 1.4;
	margin-bottom: 2em;
}

.featured_article {
	margin-bottom: 3em;
}

#content {
	margin-top: 2.2em;
}

.invisible {
  visibility: hidden;
}
