/* home page 'regions results'*/
.default_results {margin-bottom: 4em; margin-top: 12em;}
.region + .region {margin-top:3em;}

/* general search results pages */

.search_results {
	margin-bottom:4em;
	a {text-decoration: none;
		color: #333;
		}
	a:hover {
		color: black;
	}
	.grid_about {
		margin-bottom: 0;
	}

}

.wine_results {
	float:left;
	width:100%;
	article + article {
	margin-top: 3em;
	}
}

.winery_results {
	margin-top: 4em;
	float:left;
	width:100%;
	.grid_about {
		margin-top: .75em;
		margin-bottom: .25em;
	}
	article + article {
	margin-top: 3em;
	}
}

.search_result_summary {
	float: left;
	@extend .headline;
	@extend .headline_link;
	font-size: .6em;
	margin-top: .75em;
	a {color: #444; margin-right: 1em;}
	a:last-of-type {margin-right: 0;}
}



/* Wine Results*/
.wine, .winery {
	width: 100%;
	float: left;
}

.wine_image {
	width: 20%;
	float: left;
	margin-right: 5%;
}
.wine_info {
	float: left;
	width: 75%;
	.grid_about {
		margin-top: 1em;
		float:left;
		margin-bottom: 1em;
	}
}

.wine_title, .wine_winery_meta, .wine_meta, .wine_action {
	@extend .headline;
	width: 100%;
	float:left;
}

.wine_title {
	font-size: 1.5em;
	line-height:1;
}
.wine_winery_meta {
	font-size: .6em;
	.winery_name {
		float: left;
		display: inline-block;
		width: 100%;
	}
	.product_meta_info {float:left;}
}
.wine_meta {
	font-size: .55em;
	text-align:center;
}
.price_separator {
	margin:0 .5em;
	color: lightgray;
}
.wine_about {
	font-size: .8em;
	float: left;
	line-height:1.4;
	margin:2em 0 .5em;
}
.wine_action {
	margin-top:.4em;
}

@media only screen and (min-width: 36em) {

.wine_winery_meta {
	font-size: .6em;
	.winery_name {
		float: left;
		display: inline-block;
		width: auto;
	}
	.product_meta_info {float:right;}
}
}

@media only screen and (min-width: 42em) {
.wine_results, .winery_results {
	float:left;
}
.winery_results {
	width: 30%;
	margin-left:5%;
	margin-top: 0;

}
.wine_results {
	width: 65%;
}

}
