.site_header_container {
	width:100%;
}
.site_wide_nav {
	float: right;
	margin-top: .55em;
	@extend .headline;
	font-size: .65em;
	a {text-decoration: none;}
	span {
		line-height: 1;
		display: inline-block;
		white-space: nowrap;
		float: left;

	}
	span + span {
		margin-left: 1.5em;
	}
	.active {
		padding-bottom: .25em;
		border-bottom: 2px solid black;
		a {color: black;}
	}
}
