.main_header {
	.site_wide_nav a {
	display:none;
}
}

a.small_screen {
	display: block;
}

@media only screen and (min-width: 36em) {
.main_header {
	.site_wide_nav a {display: block;}
}
.main_header {
	.small_screen, a.small_screen {display: none; visibility:hidden;}
}

}
