li.current-menu-item, .section_header, .single_article #menu-item-171 {
	margin-bottom: -2px;
	a {
		color: #333;
	}
	a, span {
		border-bottom: 2px solid black;
		display: inline-block;
	}
}

.section_header {
		display: inline-block;
		float: left;
}

/* footer navigation */

.main_footer {
	margin-top: 2em;
	.logo_container {
	width: 100%;
}
}


.social_link_container {
	float: left;
	line-height: 2;
	margin-top: .2em;
	width: 100%;
}
.social {
	display: inline-block;
	float: left;
	margin-right: 2.5em;
	white-space: nowrap;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-o-hyphens: none;

	a {text-decoration: none;}
}


.social.logo_word {
	width: 4.6em;
	display: block;
	img {vertical-align: 2px;}
}

.social.link {
	font-size: .7em;
	a {color: hsl(0,0%,30%);}
	a:hover {color: black;}
}

.copyright {
	padding-left: 1.8em;
	border-left: 1px solid lightgray;
}

@media only screen and (min-width: 40em) {


}
