<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>New District | Find Great Wine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/style.css">
        <script src="//use.typekit.net/joz1nzz.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <a class="extra" href="{{ site.baseurl }}/">home</a>
          </div>

          {{ content }}

        </div>
        <footer class="main_footer" role="contentinfo">

          <div class="content_wrap">
            <div class='logo_word social'><a href="{{ site.baseurl }}/"><img src='{{ site.baseurl }}/img/logo.png'></a>
            </div>
            <div class="social link"><a target="_blank" href="https://twitter.com/newdistrictbc">Twitter</a></div>
            <div class="social link"><a target="_blank" href="http://instagram.com/newdistrict">Instagram</a></div>
            <div class="social link"><a target="_blank" href="https://www.facebook.com/newdistrict">Facebook</a></div>
            <div class="social link"><a  href="mailto:info@newdistrict.ca">Email Us</a></div>
          </div>

      </footer>

    </body>
</html>
