<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>New District | Find Great Wine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/style.css">
        <script src="//use.typekit.net/joz1nzz.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
      <header class='main_header content_aligned '>
        <div class='shared_header_container clearfix'>
            <div class='logo_word'>
              <a href="{{ site.baseurl }}/"><img src='{{ site.baseurl }}/img/logo.png'></a>
              <div class='logo_meta_info'>
                Search our store to find great BC wines.
              </div>
            </div>
            <div class='site_wide_nav'>
                <span class='active'><a href='{{ site.baseurl }}/'>find wines</a></span>
                <span><a href='http://192.168.1.65/journal-newdistrict/'>our story</a></span>
              </ul>
            </div>
        </div>
      </header>

      <div class='search_container'>
        <form action="/" class="content_aligned  search">
          <fieldset>
            <input type="text" placeholder="Type to Search Our Wines..." />
          </fieldset>
        </form>
      </div>

      <div class='content_aligned'>
        <ul id="menu-main-navigation" class="nav top-nav clearfix">
          <li id="menu-item-158" class="menu-item">Our Wineries</li>
        </ul>
      </div>


            {% include wineries.html %}

        <div class="site">

          {{ content }}
        </div>

        <footer class="main_footer" role="contentinfo">
          <div class="content_wrap">
            <div class='logo_word social'><a href="{{ site.baseurl }}/"><img src='{{ site.baseurl }}/img/logo.png'></a>
            </div>
            <div class="social link"><a target="_blank" href="https://twitter.com/newdistrictbc">Twitter</a></div>
            <div class="social link"><a target="_blank" href="http://instagram.com/newdistrict">Instagram</a></div>
            <div class="social link"><a target="_blank" href="https://www.facebook.com/newdistrict">Facebook</a></div>
            <div class="social link"><a  href="mailto:info@newdistrict.ca">Email Us</a></div>
          </div>
        </footer>
    </body>
</html>
